@font-face {
    src: url("fonts/Inter-V.ttf");
}

.root {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-font-family: "Inter V";
}

.metro-icon {
    -metro-icon-size: 32px;
    -metro-icon-color: red;
}
.banner-buttons{
    -fx-background-color:#da294f;
}

.text-field {
    -fx-highlight-fill: derive(-fx-control-inner-background,-20%);
    -fx-highlight-text-fill: -fx-text-inner-color;
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3, 2;
    -fx-cursor: text;
    -fx-padding: 0.333333em 0.583em 0.333333em 0.583em; /* 4 7 4 7 */

}
.text-field:focused {
    -fx-background-insets: -0.2, 1, -1.4, 3;
    -fx-background-radius: 3, 2, 4, 0;
    -fx-prompt-text-fill: transparent;
}
.command-text{
    -fx-font-size: 22px;
}
.mic-icon:hover{
    -fx-icon-color:#da294f;
}